footer {
    padding-top: 80px;
    background-color: #dbe2f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .thinking {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        color: #0a192f;
    }
    .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 90px;
        .social-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 20px;
        }
        .contact-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 20px;
        }
        i {
            color: #0a192f;
            font-size: 2rem;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .copyright {
        color: #0a192f;
        text-align: center;
        span {
            a {
                color: #0a192f;
                font-weight: 700;
                -webkit-mask-image: linear-gradient(
                  -75deg,
                  #0a192f 40%,
                  #0a192f3f 50%,
                  #0a192f 60%
                );
                -webkit-mask-size: 200%;
                animation: shine 5s linear infinite;
            }
        }
    }
    .logo {
        color: #0a192f;
        font-weight: 700;
        -webkit-mask-image: linear-gradient(
          -75deg,
          #0a192f 40%,
          #0a192f3f 50%,
          #0a192f 60%
        );
        -webkit-mask-size: 200%;
        animation: shine 5s linear infinite;
    }
}

@keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }