footer {
    padding-top: 80px;
    background-color: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .thinking {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        color: $color-dark;
    }
    .icons-container {
        @include flex (flex, row, center, center);
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 90px;
        .social-icons {
            @extend %flex-row-align-center;
            column-gap: 20px;
        }
        .contact-icons {
            @extend %flex-row-align-center;
            column-gap: 20px;
        }
        i {
            color: $color-dark;
            font-size: nth($font-size, 8);
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .copyright {
        color: $color-dark;
        text-align: center;
        span {
            a {
                color: $color-dark;
                font-weight: 700;
                -webkit-mask-image: linear-gradient(
                  -75deg,
                  $color-dark 40%,
                  $color-dark-degrade 50%,
                  $color-dark 60%
                );
                -webkit-mask-size: 200%;
                animation: shine 5s linear infinite;
            }
        }
    }
    .logo {
        color: $color-dark;
        font-weight: 700;
        -webkit-mask-image: linear-gradient(
          -75deg,
          $color-dark 40%,
          $color-dark-degrade 50%,
          $color-dark 60%
        );
        -webkit-mask-size: 200%;
        animation: shine 5s linear infinite;
    }
}

@keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }