/*--------------HEADER-----------------*/

header {
    background-color: $color-dark;
    position: sticky;
    top: 0;
    z-index: 10;
    .container-header {
        height: 90px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            ul {
                .text-link {
                    color: $color-light;
                    &:hover {
                        color: $color-focus;
                        text-shadow: 0px 0px 3px $color-focus;
                    }
                }
                .text-link.active {
                    color: $color-focus;
                    text-shadow: 0px 0px 3px $color-focus;                    
                }
            }
        }
    }
}