/*--------------HEADER-----------------*/

header {
    background-color: $color-dark;
    position: sticky;
    top: 0;
    z-index: 10;
    .container-header {
        @include flex (flex, row, space-between, center);
        height: 90px;
        margin: auto;
        nav {
            @include flex (flex, row, center, center);
            ul {
                .text-link {
                    color: $color-light;
                    &:hover {
                        color: $color-focus;
                        text-shadow: 0px 0px 3px $color-focus;
                    }
                }
                .text-link.active {
                    color: $color-focus;
                    text-shadow: 0px 0px 3px $color-focus;
                }
            }
        }
    }
}