// VARIABLES
$color-primary: #ccd6f6;
$color-secondary: #8892b0;
$color-dark: #0a192f;
$color-dark-degrade: #0a192f3f;
$color-light: #dbe2f9;
$color-focus: #64ffda;
$color-transparent: #0a192f00;

// LISTAS
$border-radius:
0.75rem,
1.25rem;

$font-size:
0.875rem,   // p mobile, li card service mobile
1.125rem,  // h5
1.25rem,   // h4, button text, label form, h4 card work mobile
1.3125rem, // h3 mobile
1.5rem,    // h2 mobile, li menu mobile
1.625rem,  // icon mobile menu
1.75rem,   // h3, h4 card work
2.125rem,  // h1 mobile, footer icons
2.5rem,    // h2
3.5rem;    // h1

// EXTENDS
%flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// MIXIN
@mixin flex ($display, $direction, $justify, $align){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
